.git
.gitignore

node_modules
vendor

.env
.env.*
!.env.example

public/hot
public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

database/database.sqlite

.phpunit.result.cache

.idea
.vscode

Dockerfile
docker-compose.yml

